//Buttons
/*@mixin main-button($bg-color-1, $bg-color-2, $bg-color-3, $txt-color){*/
.btn-primary{
    height: 40px;
    padding: 8px 16px;
    background: transparent;
    border: 2px solid $green;
    border-radius: 2px 20px;
    color: $green;
    font-weight: 400;
    letter-spacing: .5px;
    transition: .2s;
    &:hover{
        /*background: transparent;*/
        transition: .2s;
    }
    &:focus,
        &:active,
        &:visited{
        outline: none;
    }
}
.btn-xl{
    padding: 16px 24px;
    height: 52px;
    line-height: 1;
    font-size: 20px;
}

.form-field{
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    h6{
        line-height: 1;
    }
    textarea,
    input{
        width: 100%;
        height: 40px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 3px;
        padding: 0 16px;
        &:focus,
            &:active{
            outline: none;
            border-color: $green;
        }
    }
    .error-message{
        color: red;
        display: none;
    }
    &.error{
        display: block;
    }
    textarea{
        height: 150px;
        resize: none;
        padding: 16px;
    }
}